@model IEnumerable<FinalProjectWEBAPI.Models.Userinfo>

@{
    ViewData["Title"] = "ViewUsers";
}

@*<h1>ViewUsers</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asthma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diabetes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Years)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Waitlistno)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asthma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diabetes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Years)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Waitlistno)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Email">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Email">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Email">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
<link href="~/css/viewstyle.css" rel="stylesheet" />
<body>
<div class="content">

    <div class="container">
        <h1 class="mb-5">THANKS FOR REGISTERING TO SPACETRIP</h1>


        <div class="table-responsive">

            <table class="table table-striped custom-table">
                <thead>
                    <tr>

                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PhoneNo)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Waitlistno)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Asthma)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr scope="row">



                            <td>
                                @Html.DisplayFor(modelItem => item.Email)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNo)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Waitlistno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Asthma)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="Homepage" class="btn btn-default btn-transparent text-center backbut">
                Back
            </a>
        </div>


    </div>

</div>
</body>
